.container {
    display: flex; 
}


.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap; 
    background-color: #213333;
}

.grid div {
    height: 20px;
    width: 20px;
}

.shape {
    background-color: yellow;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex; 
    flex-wrap: wrap;
    background-color: #213333;
}

.mini-grid div {
    height: 20px;
    width: 20px; 
}